{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Register and Select Cars!</h1>
    <form method="POST">
        {% csrf_token %}

        {{ form | crispy }}

        <button type="submit" class="btn btn-primary mt-4">Submit</button>

        {% block scripts %}
        <script>
            $("#id_car").select2()
            $("#id_home_country").select2()
        </script>
        {% endblock %}

    </form>
{% endblock %}
